.wrapper {
  --sidebar-font-size: 1.6rem;

  width: var(--default-layout-sidebar-width);
  min-height: 1000px;
  background-color: antiquewhite;
}

.inner {
  margin: var(--default-margin);
}

.inner Button {
  margin: 10px 0;
  display: flex;
  align-items: center;
  min-width: calc(var(--default-layout-sidebar-width) - var(--default-margin) * 2);
  border: none;
}

.sidebar-category {
  font-size: var(--sidebar-font-size);
}

.icon-sidebar {
  font-size: var(--sidebar-font-size);
  margin-right: 16px;
}
