//.button-update,
//.button-delete {
//  margin: 0 20px;
//  align-items: center;
//  justify-content: center;
//}

td Button {
  margin: 0 5px;
}

.icon-action {
  font-size: 1.4rem;
}

td {
  font-size: var(--default-font-size)
}



.form-product input {
  caret-color: var(--primary);
}

.table-product-category th:nth-child(1),
.table-product-category th:nth-child(3) {
  width: var(--default-width-table);
}